<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div th:replace="fragments/header :: header"></div>


		</div>
	</nav>


	<div class="container">
		<h1>Welcome to the home page!</h1>
		<br>
		Your username is <span sec:authentication="principal.username"></span>
	</div>

	<div class="container">
		<div class="row  justify-content-left">
			<div class="col-md-6 col-md-offset-3">
				<br>
				<h3>Menu</h3>



				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/ledger/list}">View Ledger</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/ledger/list?label=employee}">View Ledger (only Employees)</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/ledger/list?label=AP}">View Ledger (only AP)</a></li>
				</ul>

				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/ledger/list?label=AR}">View Ledger (only AR)</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/ledger/add}">Add Ledger</a></li>
				</ul>
				----
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/invoicesMaster/list}">View Invoices Masters</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/invoicesMaster/filter}">Add Invoice Master</a></li>
				</ul>
				----
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/journal/list}">View Journals</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/journal/add}">Add Journal</a></li>
				</ul>
				----
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/timesheet/list}">View Timesheets</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/timesheet/add}">Add Timesheet</a></li>
				</ul>


			</div>
		</div>
	</div>

</body>
</html>