<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>


    </div>
</nav>




<div >
    <div >
        <div>

            <h1>View Invoice Master</h1>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully finished your transaction! ==>
                    <span th:text="${param.success}"></span>
                </div>
            </div>

            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/invoicesMaster/filter}">Add Invoice Master</a></li>
            </ul>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Reference</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>clientName</th>
                    <th>notes</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="inv : ${invoiceMasterList}">
                    <td th:text="${inv.id}"></td>

                    <td>
                        <a th:href="@{/api/v1/invoicesMaster/edit/{reference}(reference=${inv.reference})}"/>

                        <span th:text="${inv.reference}"></span>
                        </a>

                    </td>

                        <td th:text="${#temporals.format(inv.invoiceDate, 'MM-dd-yyyy')}"></td>

                    <td th:text="${inv.status}"></td>
                    <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(inv.amount, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${inv.client?.ledgerName}"></td>
                    <td th:text="${inv.notes}"></td>
                </tr>
                </tbody>
            </table>
            <br/>

            <h1>
                <span > Total Amount : </span>
                <span class="badge badge-primary ml-2"
                      th:text="'$' + ${#numbers.formatDecimal(grandTotalAmount, 1, 'COMMA', 2, 'POINT')}">
</span>
            </h1>
        </div>
    </div>
</div>



</body>
</html>

