<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>


    </div>
</nav>




<div >
    <div >
        <div >

            <h1>View Journal Entry</h1>

            <table class="table table-bordered table-striped table-hover">

            <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>toAccount</th>
                    <th>description</th>
                    <th>amount</th>
                </tr>

                <tr th:each="journal : ${journalList}">

                    <td>

                        <a th:href="@{/api/v1/journal/edit/{id}(id=${journal.getId()})}"/>

                        <span th:text="${journal.getId()}"></span>
                        </a>

                        </a>

                    </td>
                    <td th:text="${journal.getTransactionDate()}"></td>
                    <td th:text="${journal.getTargetAccount().getLedgerName()}"></td>
                    <td th:text="${journal.getDescription()}"></td>
                    <td th:text="${journal.getAmount()}"></td>
                </tr>
            </table>

            <br/>
        </div>
    </div>
</div>



</body>
</html>

