<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function loadInvoices() {

            var vendorId = document.getElementById("toAccountRequested").value;

            var invoiceDropdown = document.getElementById("invoiceDropdown");

            // ✅ clear dropdown
            invoiceDropdown.innerHTML = "<option value=''>-- Select Invoice --</option>";

            if (!vendorId) return;

            fetch("/api/v1/journal/invoices/by-vendor/" + vendorId)
                .then(res => res.json())
                .then(data => {

                    data.forEach(inv => {
                        var option = document.createElement("option");

                        option.value = inv.id;
                        option.text = inv.reference + " - $" + inv.amount;

                        invoiceDropdown.appendChild(option);
                    });

                })
                .catch(err => console.error(err));
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>


    </div>
</nav>




<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-6 col-md-offset-3">

            <h1>Add Journal</h1>

            <!--Successful Registration-->
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered!
                </div>
            </div>



            <form th:action="@{/api/v1/journal/add}" method="post" >
                <div class="form-group">
                    <label class="control-label" for="transactionDate">
                       Transaction Date
                    </label>
                    <input id="transactionDate" type="date" class="form-control" th:field="*{journal.transactionDate}" required autofocus="autofocus">
                </div>





                <div class="form-group">
                    <label class="control-label" for="type">
                        Type
                    </label>
                    <select id="type" class="form-control" th:field="*{journal.type}"  required autofocus="autofocus">
                        <option value="Non Client Billable Hrs Payment to AP">Non Client Billable Hrs Payment to AP</option>
                        <option value="Release Payment to Vendor/Candidate">Release Payment to Vendor/Candidate</option>
                    </select>
                </div>



                <div class="form-group">
                    <label class="control-label" for="toAccountRequested">
                        to Account
                    </label>



                    <select id="toAccountRequested"
                            class="form-control"
                            th:field="*{journal.targetAccount}"
                            onchange="loadInvoices()"
                            required>

                        <option value="">-- Select Vendor --</option>

                        <option th:each="c : ${clients}"
                                th:value="${c.id}"
                                th:text="${c.ledgerName}">
                        </option>

                    </select>

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('journal.targetAccount')}"
                           th:errors="*{journal.targetAccount}">
                    </small>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">
                        Description
                    </label>


                    <input id="description"  class="form-control" th:field="*{journal.description}"
                           required autofocus="autofocus"/>

                    <input type="hidden" th:field="*{journal.id}">

                </div>


                <div class="form-group">
                    <label class="control-label" for="amount">
                        Amount
                    </label>


                    <input id="amount" type="number"
                           step="0.01"
                           min="0"
                           placeholder="0.00"  class="form-control" th:field="*{journal.amount}"
                           required autofocus="autofocus"/>

                </div>


                <div class="form-group">
                    <label>Select Payable Invoice</label>


                    <select id="invoiceDropdown"
                            th:field="*{journal.payableInvoice}"
                            class="form-control">

                        <option value="">-- Select Invoice --</option>

                    </select>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>