<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>


    </div>
</nav>




<div >
    <div >
        <div >
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully finished your transaction! ==>
                    <span th:text="${param.success}"></span>
                </div>
            </div>


            <h1>
                View Ledger

            </h1>


            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Statement</th>
                    <th>Ledger Name</th>
                    <th>isEmployee</th>
                    <th>isJe</th>
                    <th>Invoice Payment Share</th>

                    <th>Enable</th>
                    <th>Type</th>
                    <th>Label</th>
                    <th>Invoice Rate</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>invCreateType</th>
                    <th>Invoice Ledger</th>
                    <th>action</th>
                    <th>Missing TS</th>
                    <th>Company Rate</th>
                    <th>endClientName</th>
                    <th>notes</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="ledger : ${ledgers}">
                    <td>

                    <a th:href="@{/api/v1/ledger/edit/{id}(id=${ledger.getId()})}"/>

                    <span th:text="${ledger.getId()}"></span>
                    </a>
                    </td>

                    <td>
                        <a th:href="@{/api/v1/ledger/statement/{id}(id=${ledger.getId()})}"/>

                        <span th:text="Statement"></span>
                        </a>

                        </a>
            </td>

            <td th:text="${ledger.ledgerName}"></td>
                    <td th:text="${ledger.isEmployee}"></td>
                    <!--td th:text="${ledger.balance}"></td-->
                    <!--td th:text="${ledger.balanceUpdateDate}"></td-->
                    <td th:text="${ledger.isJournalEntryPossible}"></td>
                    <td th:text="${ledger.getShareConfig()}"></td>

                    <td th:text="${ledger.enable}"></td>
                    <td th:text="${ledger.type}"></td>
                    <td th:text="${ledger.label}"></td>
                    <td th:text="${ledger.invoiceRate}"></td>
                    <td th:text="${#temporals.format(ledger.invoiceRateValidateFromDate, 'MM-dd-yyyy')}"></td>

                    <td th:text="${#temporals.format(ledger.invoiceRateValidateToDate, 'MM-dd-yyyy')}"></td>

                    <td th:text="${ledger.invoiceCreationType}"></td>
                    <td>

                        <span th:text="${ledger.invoiceLedger?.ledgerName}"></span>

                    </td>
                    <td>

                        <div th:if="*{ledger.label == 'AR' and ledger.type == 'Asset'}">
                            <a th:href="@{/api/v1/ledger/list(label='employee',invoiceLedger=${ledger.ledgerName})}">
                               Show Employees
                            </a>
                        </div>

                        <!--div th:if="*{ledger.label == 'AR' and ledger.type == 'Asset'}">
                            <a th:href="@{/api/v1/invoicesMaster/add/{id}(id=${ledger.getId()})}"/>
                           Add Timesheet
                            </a>
                        </div-->

                        </a>
                    </td>
                    <td th:text="${ledger.missingTimsheet}"></td>
                    <td th:text="${ledger.companyHourRate}"></td>
                    <td th:text="${ledger.endClientName}"></td>
                    <td th:text="${ledger.notes}"></td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>
    </div>
</div>

<h1>
    <span > Total Employees/Contractor : </span>
    <span class="badge badge-primary ml-2"
          th:text="${totalCount}">
    </span>

</h1>


<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Ledger Name</th>
        <th>Hourly Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${ledgerTotals}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<h1>
    <span > Hourly Rate (Revenue) : </span>
    <span class="badge badge-primary ml-2"
          th:text="${ledgerTotalAmount}">
    </span>

</h1>



</body>
</html>

