<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
    </div>
</nav>




<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-6 col-md-offset-3">

            <h1>Add Ledger</h1>

            <!--Successful Registration-->
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered!
                </div>
            </div>

            <form th:action="@{/api/v1/ledger/add}" method="post" >
                <div class="form-group">
                    <label class="control-label" for="ledgerName">
                        Ledger Name
                    </label>
                    <input id="id" type="hidden" class="form-control" th:field="*{ledger.id}" required autofocus="autofocus">
                    <input id="ledgerName" class="form-control" th:field="*{ledger.ledgerName}" required autofocus="autofocus">
                </div>


                <div class="form-group">
                    <label class="control-label" for="config">
                        Config
                    </label>
                        <textarea  id="config" class="form-control" th:field="*{ledger.config}" required autofocus="autofocus"rows="4" cols="30"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" for="isEmployee">
                        isEmployee
                    </label>
                    <select id="isEmployee" class="form-control" th:field="*{ledger.isEmployee}"  required autofocus="autofocus">

                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label" for="isJournalEntryPossible">
                        isJournalEntryPossible
                    </label>
                    <select id="isJournalEntryPossible" class="form-control" th:field="*{ledger.isJournalEntryPossible}"  required autofocus="autofocus">

                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label" for="enable">
                        Enable Flag
                    </label>
                    <select id="enable" class="form-control" th:field="*{ledger.enable}"  required autofocus="autofocus">

                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label" for="ledger Type">
                        Ledger Type
                    </label>
                    <select id="ledger Type" class="form-control" th:field="*{ledger.type}"  required autofocus="autofocus">
                        <option value="Equity">Equity</option>
                        <option value="Liability">Liability</option>
                        <option value="Asset">Asset</option>
                        <option value="Expense">Expense</option>
                        <option value="Income">Income</option>
                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label" for="invoiceRate">
                        invoiceRate
                    </label>
                    <input id="invoiceRate" type="number"
                           step="0.01"
                           min="0"
                           placeholder="0.00"  class="form-control" th:field="*{ledger.invoiceRate}"
                            autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="InvoiceRateValidateFromDate">
                        Invoice Rate Valid From
                    </label>
                    <input id="InvoiceRateValidateFromDate" type="date" class="form-control" th:field="*{ledger.invoiceRateValidateFromDate}"  autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label class="control-label" for="InvoiceRateValidateToDate">
                        Invoice Rate Valid To
                    </label>
                    <input id="InvoiceRateValidateToDate" type="date" class="form-control" th:field="*{ledger.invoiceRateValidateToDate}"  autofocus="autofocus">
                </div>


                <div class="form-group">
                    <label class="control-label" for="type">
                        Invoice Creation Type
                    </label>
                    <select id="type" class="form-control" th:field="*{ledger.invoiceCreationType}"  required autofocus="autofocus">
                        <option value="Batch">Consolidated</option>
                        <option value="Single">Single</option>
                    </select>
                </div>


                <!-- Client -->
                <div class="form-group">
                    <label for="invoiceLedger">Invoice Ledger</label>
                    <select id="invoiceLedger"
                            th:field="*{ledger.invoiceLedger}"
                            class="form-control"
                            >
                        <option value="" >
                            -- Select Client --
                        </option>


                        <option th:each="c : ${clients}"
                                th:value="${c.id}"
                                th:text="${c.ledgerName}">
                        </option>
                    </select>
                </div>





                <div class="form-group">
                    <label class="control-label" for="label">
                        Label (Custom)
                    </label>
                    <input id="label" class="form-control" th:field="*{ledger.label}" required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="companyName">
                        Invoice Company Name
                    </label>
                    <input id="companyName" class="form-control" th:field="*{ledger.companyName}"  autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="companyAddress">
                        Invoice Company Address
                    </label>
                    <input id="companyAddress" class="form-control" th:field="*{ledger.companyAddress}"  autofocus="autofocus">
                </div>


                <div class="form-group">
                    <label class="control-label" for="endClientName">
                        End Client Name
                    </label>


                    <input id="endClientName" class="form-control" th:field="*{ledger.endClientName}"
                            autofocus="autofocus"/>

                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>