<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>


    </div>
</nav>




<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-6 col-md-offset-3">

            <h1>View Ledger</h1>

            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Ledger Name</th>
                    <th>isEmployee</th>
                    <th>Balance</th>
                    <th>Balance update Time</th>

                    <th>Config</th>
                    <th>Enable</th>
                    <th>Type</th>
                </tr>

                <tr th:each="ledger : ${ledgers}">
                    <td th:text="${ledger.id}"></td>
                    <td th:text="${ledger.getLedgerName()}"></td>
                    <td th:text="${ledger.isEmployee}"></td>
                    <td th:text="${ledger.getBalance()}"></td>
                    <td th:text="${ledger.getBalanceUpdateDate()}"></td>

                    <td th:text="${ledger.config}"></td>
                    <td th:text="${ledger.enable}"></td>
                    <td th:text="${ledger.type}"></td>
                </tr>
            </table>

            <br/>
        </div>
    </div>
</div>



</body>
</html>

