<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>


    </div>
</nav>


<div>
    <div>
        <div>

            <h1>View Payable Invoices</h1>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully finished your transaction! ==>
                    <span th:text="${param.success}"></span>
                </div>
            </div>

            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/payable-invoice/add}">Add Payable Invoice
                </a></li>
            </ul>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Reference</th>
                    <th>Status</th>
                    <th>Document Link</th>
                    <th>Download</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="d : ${invoices}">

                    <td>
                    <a th:href="@{/api/v1/payable-invoice/edit/{id}(id=${d.getId()})}"/>

                    <span th:text="${d.getId()}"></span>
                    </a>
                    </td>
                    <td th:text="${d.vendor.ledgerName}"></td>

                    <td th:text="${d.amount}"></td>

                    <td th:text="${d.reference}"></td>

                    <td th:text="${d.status}"></td>

                    <td th:text="${d.documentLink}"></td>

                    <td>
                        <a th:if="${d.hasFile}" th:href="@{/api/v1/payable-invoice/download/{id}(id=${d.id})}"/>

                        <span  th:text="Download"></span>
                        </a>

                        <span th:if="${d.documentContent == null}">
                No File
            </span>
                    </td>


                </tr>
                </tbody>
            </table>
            <br/>


        </div>
    </div>
</div>


</body>
</html>

