<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
    </div>
</nav>




<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-6 col-md-offset-3">

            <h1>Add Payable Invoices</h1>

            <!--Successful Registration-->
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered!
                </div>
            </div>

            <form th:action="@{/api/v1/timesheet/add}" method="post" th:object="${invoice}">

                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="invoiceLedger">Vendor</label>
                    <select id="invoiceLedger"
                            th:field="*{vendor}"
                            class="form-control"
                    >
                        <option value="" >
                            -- Select Vendors--
                        </option>


                        <option th:each="c : ${vendors}"
                                th:value="${c.id}"
                                th:text="${c.ledgerName}">
                        </option>
                    </select>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>