<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>View Time Sheets</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
    </div>
</nav>

<div class="container mt-4">

    <!-- ✅ Success Message -->
    <div th:if="${param.success}">
        <div class="alert alert-info">
            Operation completed successfully!
            <span th:text="${param.success}"></span>
        </div>
    </div>


    <div th:if="${param.error}">
        <div class="alert alert-danger">
            <span th:text="${param.error}"></span>
        </div>
    </div>


    <h1>View Time Sheets</h1>

    <table class="table table-bordered table-striped table-hover">

        <thead>
        <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Hours</th>
            <th>InvoiceMaster</th>
            <th>InvoiceDetails</th>


        </tr>
        </thead>

        <tbody>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a th:href="@{/api/v1/timesheet/add}">Add Timesheet</a></li>
        </ul>
        <tr th:each="ts : ${timeSheetList}">


            <td>
                <a th:href="@{/api/v1/timesheet/edit/{id}(id=${ts.getId()})}"/>
                  <span th:text="${ts.getId()}"></span>
                </a>
            </td>
            <td th:text="${ts.employee.ledgerName}"></td>

            <td th:text="${ts.startDate}"></td>
            <td th:text="${ts.endDate}"></td>

            <td th:text="${ts.noOfHrs}"></td>
            <td th:text="${ts.invoiceDetail?.invoiceMaster?.reference }"></td>

            <td th:text="${ts.invoiceDetail?.getId() }"></td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>
``